#root{
	-fx-background-color: rgb(19,152,255);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
}

Label{
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-font-family: "Hobo Std";
}

TextField {
	-fx-font-size: 14;
	-fx-text-fill: #545454;
}

#btnLogin{
	-fx-font-size: 20;
	-fx-text-fill: rgb(19,152,255);
	-fx-font-family: "Hobo Std";
}

