ScrollPane{
	-fx-hbar-policy: never;
}
Button{
	-fx-text-fill: #545454;
}

#root{
	-fx-background-color: rgb(19,152,255);
	-fx-background-position: center;
}

#msgInput{
	-fx-font-size: 16;
	-fx-text-fill: #545454;
}
#btnSndMsg{
	-fx-font-size: 14;
}

#btnSndImtc{
	-fx-font-size: 14;
}

#info_lbl{
	-fx-font-size: 24;
	-fx-text-fill: white;
	-fx-alignment: center-right;
}

#usrlst_lbl{
	-fx-font-size: 28;
	-fx-text-fill: white;
	-fx-alignment: center;
}
#usrlst_view{
	-fx-font-size: 16;
	-fx-text-fill: #545454;
}

#btnSndFile{
	-fx-font-size: 28;
}

#btnExitRm{
	-fx-font-size: 28;
}
