ScrollPane{
	-fx-hbar-policy: never;
}

Button{
	-fx-text-fill: rgb(19,152,255);
	-fx-font-family: "Hobo Std";
}

#root{
	-fx-background-color: rgb(19,152,255);
}

#msgInput{
	-fx-font-size: 16;
	-fx-text-fill: rgb(19,152,255);
}

#btnSndMsg{
	-fx-font-size: 14;
}

#btnSndImtc{
	-fx-font-size: 14;
}

#usrlst_lbl{
	-fx-font-size: 40;
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-font-family: "Hobo Std";
}

#usrlst_lv{
	-fx-font-size: 14;
}

#btnSndFile{
	-fx-font-size: 28;
}

#btnExitRm{
	-fx-font-size: 28;
}
